<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>FinancialAccounting</string>
		<key>lastPageRead</key>
		<integer>0</integer>
		<key>bookmarks</key>
		<array/>
		<key>annotations</key>
		<array/>
		<key>MinitexPDFAnnotations</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>DataModeling</string>
		<key>lastPageRead</key>
		<integer>0</integer>
		<key>bookmarks</key>
		<array/>
		<key>annotations</key>
		<array/>
		<key>MinitexPDFAnnotations</key>
		<array/>
	</dict>
</array>
</plist>
